.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  transition: transform 450ms;
}
.imgCont {
  display: flex;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.img {
  border-radius: 40px;
}

.mid {
  padding-left: 20px;
  flex: 0.2;
  font-size: 1rem;
}
.description {
  flex: 0.7;
}
.container:hover {
  transform: scale(1.02);
}
