* {
  margin: 0;
  padding: 0;
}
.App {
  color: black;
  background-color: white;
}
.App_Dark {
  color: rgb(252, 249, 249);
  background-color: rgb(5, 5, 5);
}
.head_grid {
  height: 9vh;
  padding-top: 12vh;
  border-bottom: 2px solid #d1b1d4;
  display: grid;
  place-items: center;
}
.body_grid {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.body_grid::-webkit-scrollbar {
  display: none;
}
.body {
  padding-top: 12vh;
  height: 100%;
}

.sub_head {
  display: flex;
  width: 92%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 7vh;
}
.book_name {
  flex: 0.4;
  flex-shrink: 1;
}
.genre {
  flex: 0.2;
  padding-right: 8vw;
  flex-shrink: 1;
}

.reading_progress {
  flex: 0.2;
  flex-shrink: 1;
}

.last_opened {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
}

.head {
  height: 9vh;
  display: grid;
  place-items: center;
  border-bottom: 2px solid #d1b1d4;
}
/* @media screen and (max-width: 467px) {
  .sub_head {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} */
.modal_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal_btn {
  outline: none;
  border: none;
  width: 25%;
  height: 8%;
  border-radius: 20px;
  background-color: #cf3d6d;
  font-size: 1rem;
  position: absolute;
  left: 250px;
}
