* {
  margin: 0;
  padding: 0;
}
.App {
  color: black;
  background-color: white;
}
.App_Dark {
  color: rgb(252, 249, 249);
  background-color: rgb(5, 5, 5);
}
.head_grid {
  height: 9vh;
  padding-top: 12vh;
  border-bottom: 2px solid #d1b1d4;
  display: grid;
  place-items: center;
}
.body_grid {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.body_grid::-webkit-scrollbar {
  display: none;
}
.body {
  height: 100%;
}
.book_name {
  flex: 0.4;
  padding-left: 30px;
  flex-shrink: 1;
}
.genre {
  flex: 0.2;
  padding-right: 8vw;
  flex-shrink: 1;
}

.reading_progress {
  flex: 0.2;
  flex-shrink: 1;
}

.last_opened {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
}
.head {
  height: 9vh;
  padding-top: 12vh;
  display: grid;
  place-items: center;
  border-bottom: 2px solid #d1b1d4;
}
